//Colores
$color1:#327FFA;
$color2:#69CAFA;
$color3:black;
$color4:rgb(255, 255, 255);
$color5:rgb(37, 93, 191);




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: largue;
}

html {
    scroll-behavior: mooth;
}

header {
    background-color: $color1;

}

.navbar-dark {
    background-color: $color1;
}

main {
    height: calc(100vh - 80px);
    width: 100%;
    background-image: url(../img/Messi\ con\ la\ copa.png);
    background-color: $color3;
    background-size: cover;

}

@import "_animaciones.scss";

@import "_caja.scss";

h2.sec {
    text-align: center;
    background-color: $color1;
    color: $color3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    padding: 10px;
    margin: 0px;
    border: 3px solid $color3;

}

.Titulo-Noticia {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin: 4px;
    padding: 15px 25px;
    text-transform: capitalize;
    background-color: $color2;
    border: 3px solid;
}

.Parrafo {
    margin: 0px;
    padding: 10px 10px;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

.contenedor {
    background-color: $color1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    padding: 20px;
    grid-gap: 15px;
    border: 3px solid $color3;


}

.item {
    border: 3px solid $color3;
    background-size: cover;
    background-position: center;
    border-radius: 3px;



    .item1 {
        background-image: url(/img/Argentina\ arabia.png);
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .item2 {
        background-image: url(/img/Argentina\ Mexico.png);
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .item3 {

        background-image: url(/img/Argentina\ Polonia.png);
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .item4 {

        background-image: url(/img/Argentina\ Australia.png);
        grid-column: 3/5;
        grid-row: 2/3;
    }

    .item5 {

        background-image: url(/img/Argentina\ Holanda.png);
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .item6 {

        background-image: url(/img/Argentina\ Croacia.png);
        grid-column: 3/5;
        grid-row: 3/4;
    }

    .item7 {

        background-image: url(/img/Argentina\ Francia.png);
        grid-column: 1/5;
}
}

@import "_galeria.scss";

.subtitulo {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    border: 2px solid;
    background-color: $color4;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.noticia2 {
    margin: 10px;
    padding: 0;
    display: block;
    text-align: center;
    border: 3px solid;
    background-color: $color1;

}

@import "_footer.scss";

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-control-prev-icon {
    position: relative;
    left: 50%;
}

.sec2 {
    width: 100%;
    display: center;
    border: 7px solid $color3;
}

.carousel-indicators li {
    height: 30px;
    width: 30px;
    border-radius: 30%;
    border: 3px solid $color4;
    background-color: $color3;
}

.carousel-control-prev-icon:hover {
    transform: scale(2);
    transition: all 0.5s;
}

.estadistica {
    background-color: $color2;
    text-align: left;
    letter-spacing: 0px;
    border: 3px solid $color3;
}

section{
    margin: 0px;
    display: flex;
    width: 600px;
    height: 430px;
    
    
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}
